.SearchResults {
    display: inline-grid;
    grid-column: repeat(4, 25%);
    grid-row: auto;
    margin: 25px;
}

.image-card {
    border-radius: 35px;
    width: 300px;
    height: 220px;
    object-fit: cover;
    padding: 25px;  
}