.Search {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.nasa-logo { 
  margin: auto;
  width: 500px;
  max-height: 300px;
}

.search-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.search-input {
  width: 30%;
  height: 50px;
  border-radius: 11px 0px 0px 11px;
  font-size: 20px;
  padding: 0 10px;
}

.search-btn {
    border: none;
    border-radius: 0px 11px 11px 0px;
    background-image: linear-gradient(to bottom right, #ec0037, #ad032b);
    color: #ffffff;
    font-size: 20px;
}

.search-btn:active {
    background-image: linear-gradient(to bottom right, #d3cfd0, #5f5e5e);   
}

@media only screen and (max-width: 500px){
    .nasa-logo { 
        width: 300px;
      }
}