.Search {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.nasa-logo {
  margin: auto;
  width: 500px;
  height: 300px;
}

.search-input {
  margin: auto;
  width: 30%;
  height: 50px;
  border-radius: 11px;
  font-size: 20px;
  padding: 0 10px;
}
